body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(218, 196, 240);
}

ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    text-align: center;
    background-color: #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
.logo {
    text-align: center;
}

.atores {
    display: right;
}


.cartaz {
    display: flex;
}

table thead th {
    background-color: rgb(0, 255, 89);
    color: black;
    
}
table tbody tr:nth-child(even) td {
    background-color: rgba(0, 26, 255, 0.5);
}

table tbody tr:nth-child(odd) td {
    background-color: rgba(55, 180, 222, 0.5);
}

table tbody tr:hover td {
    background-color: rgba(0, 255, 255, 0.299);
    cursor: pointer;
}
.atores_descricao {
    font-size: 10px;
}

.elenco {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}
.info {
    display: flex;
    flex-direction: row-reverse;
}
.elenco h3 {
    align-self: flex-start;
}
 .audios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }
 strong {
    color: rgb(16, 60, 182);
 }